# Alpaca Demo

In [1]:
# Initial imports
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi

%matplotlib inline

In [2]:
# Load .env environment variables
load_dotenv()

True

In [3]:
# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

In [4]:
# Verify that Alpaca key and secret were correctly loaded
print(f"Alpaca Key type: {type(alpaca_api_key)}")
print(f"Alpaca Secret Key type: {type(alpaca_secret_key)}")

Alpaca Key type: <class 'str'>
Alpaca Secret Key type: <class 'str'>

In [5]:
# Create the Alpaca API object
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [6]:
# Format current date as ISO format
today = pd.Timestamp("2020-07-14", tz="America/New_York").isoformat()

In [7]:
# Set the tickers
tickers = ["FB", "TWTR"]

In [8]:
# Set timeframe to one day ('1Day') for the Alpaca API
timeframe = "1Day"

In [9]:
# Get current closing prices for FB and TWTR
df_portfolio = alpaca.get_bars(
    tickers,
    timeframe,
    start = today,
    end = today
).df

# Display sample data
df_portfolio

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2020-07-14 04:00:00+00:00,236.76,240.33,232.03,239.73,23377376,244837,236.977422,FB
2020-07-14 04:00:00+00:00,33.56,34.66,33.44,34.38,18533247,96659,34.155406,TWTR

In [10]:
# Format start and end dates as ISO format for one year period
start = pd.Timestamp("2019-07-14", tz="America/New_York").isoformat()
end = pd.Timestamp("2020-07-14", tz="America/New_York").isoformat()

In [11]:
# Get closing prices for FB and TWTR from the last year
df_portfolio_year = alpaca.get_bars(
    tickers,
    timeframe,
    start = start,
    end = end
).df

# Reorganize the DataFrame
# Separate ticker data
FB = df_portfolio_year[df_portfolio_year['symbol']=='FB'].drop('symbol', axis=1)
TWTR = df_portfolio_year[df_portfolio_year['symbol']=='TWTR'].drop('symbol', axis=1)

# Concatenate the ticker DataFrames
df_portfolio_year = pd.concat([FB, TWTR],axis=1, keys=['FB','TWTR'])

# Display sample data
df_portfolio_year.head(10)

                               FB                                        \
                             open      high       low   close    volume
timestamp
2019-07-15 04:00:00+00:00  204.25  205.3300  201.8200  203.91  16030335
2019-07-16 04:00:00+00:00  203.80  205.4707  203.1000  203.84  12132853
2019-07-17 04:00:00+00:00  204.18  204.3600  201.5900  201.80  12083714
2019-07-18 04:00:00+00:00  200.15  202.4700  199.3800  200.78  11956554
2019-07-19 04:00:00+00:00  202.18  202.3300  198.0700  198.36  12098262
2019-07-22 04:00:00+00:00  199.98  202.5700  198.8100  202.32  13593469
2019-07-23 04:00:00+00:00  202.80  204.2420  200.9625  202.36  15453787
2019-07-24 04:00:00+00:00  197.66  204.8100  197.2200  204.66  32560655
2019-07-25 04:00:00+00:00  206.60  208.6600  198.2600  200.71  39890754
2019-07-26 04:00:00+00:00  200.21  202.8800  196.2500  199.75  24646123

                                                    TWTR                   \
                          trade_count        vwap   open    high      low
timestamp
2019-07-15 04:00:00+00:00      144227  203.864930  38.00  38.970  37.9435
2019-07-16 04:00:00+00:00      107939  204.136607  38.78  38.790  37.8200
2019-07-17 04:00:00+00:00      112848  202.538952  37.85  38.230  37.5600
2019-07-18 04:00:00+00:00      111375  200.621676  37.34  37.795  37.0000
2019-07-19 04:00:00+00:00      103177  200.150804  37.99  38.090  36.7300
2019-07-22 04:00:00+00:00      120193  201.256328  36.95  37.690  36.8300
2019-07-23 04:00:00+00:00      123226  202.419399  37.65  38.020  36.8200
2019-07-24 04:00:00+00:00      271256  203.374209  38.05  38.800  37.7600
2019-07-25 04:00:00+00:00      341776  201.495967  39.00  39.230  37.9100
2019-07-26 04:00:00+00:00      204670  199.247136  40.00  42.330  40.0000


                           close    volume trade_count       vwap
timestamp
2019-07-15 04:00:00+00:00  38.68  12738673       59644  38.535658
2019-07-16 04:00:00+00:00  37.99  10979576       51227  38.174918
2019-07-17 04:00:00+00:00  37.70   7949602       40226  37.826572
2019-07-18 04:00:00+00:00  37.66  11125887       52883  37.441134
2019-07-19 04:00:00+00:00  36.77  10842400       50976  37.210407
2019-07-22 04:00:00+00:00  37.58   8415150       44081  37.305353
2019-07-23 04:00:00+00:00  37.90  10741460       50443  37.516108
2019-07-24 04:00:00+00:00  38.73  12488470       56725  38.384010
2019-07-25 04:00:00+00:00  38.12  21255982      101348  38.342849
2019-07-26 04:00:00+00:00  41.52  57555252      236562  41.432600